xml-resources/jaxb/KBaseModel/sentencesXmlSchema.xsd

<?xml version="1.0"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="KnowledgeBases">
    
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sentences" minOccurs="1" maxOccurs="1" type="stringList"/>
            </xs:sequence>          
        </xs:complexType>
    
    </xs:element>
    
    <xs:simpleType name="stringList">
        <xs:list itemType="xs:string"/>
    </xs:simpleType>  
    
</xs:schema>
